<nav class="navbar navbar-light bg-light justify-content-between">
    <a class="navbar-brand">P.P.H.U. GIEWITEX</a>
    <button class="btn btn-primary my-2 my-sm-0">Login</button>
    <button class="btn btn-secondary my-2 my-sm-0">Sign up</button>
  </nav>