<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head', {title: "Strona Główna"}); %>
</head>
<body>
<header>
  <%- include('../partials/header'); %>
</header>

<main>

<div class="container" id="main-container">

<div class="jumbotron">
    <h1 class="display-4">Witamy na stronie sklepu!</h1>
    <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
    <hr class="my-4">
    <p>Zapraszamy do zapoznania się z ofertą sklepu.</p>
    <a class="btn btn-primary btn-lg" href="/products" role="button">Oferta</a>
</div>


</div>
</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>