<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container-fluid">

<header>
  <%- include('../partials/header'); %>
</header>

<main>
  <div class="jumbotron">
    <h1>Witamy na stronie sklepu internetowego</h1>
    <p>Głównym przedmiotem prowadzonej działalności jest skup zbóż, rzepaku i kukurydzy, a także sprzedaż detaliczna i hurtowa nawozów mineralnych, węgla kamiennego i brunatnego. Dodatkowo zajmujemy się sprzedażą pasz, artykułów do produkcji rolnej, artykułów chemicznych i przemysłowych, paliw płynnych (własna stacja paliw w Głuszynie) oraz skupem złomu. Nasza oferta skierowana jest zarówno do małych gospodarstw jak i tych bardzo dużych na terenie całego kraju. Przedsiębiorstwo posiada 7 punktów sprzedaży i skupu w miejscowościach: Głuszyna, Bukowa Śląska, Rychtal, Namysłów, Krzyków, Pawłowice i Szymonków. Firma cały czas rozwija się zwiększając swój kapitał rzeczowy i ludzki. Nasza załoga liczy obecnie 60 pracowników.</p>
  </div>
</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>