<!DOCTYPE html>
<html lang="pl">
<head>
  <%- include('../partials/head', {title: "Strona Główna"}); %>
</head>
<body>
<header>
  <%- include('../partials/header'); %>
</header>

<main>

<div class="container">
        <form style="padding-top: 50px">
            <div class="form-group">
                <label for="username">Nazwa użytkownika</label>
                <input type="text" class="form-control" id="username" placeholder="jankowalski00">
              </div>
            <div class="form-group">
              <label for="password">Hasło</label>
              <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Hasło">
            </div>
            <button type="submit" class="btn btn-primary">Zaloguj</button>
          </form>
</div>

</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>